<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pic</key>
		<string>http://www.wupinnews.com/uploads/allimg/140911/0013542020-0-lp.jpg</string>
		<key>title</key>
		<string>苹果智能手表多少钱？两个肾够用吗？</string>
		<key>summary</key>
		<string>苹果智能手表多少钱？两个肾够用吗？</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>http://www.wupinnews.com/uploads/allimg/140909/0K2235K2-0-lp.jpg</string>
		<key>title</key>
		<string>张亚勤离任微软转投百度 百度不予以置评</string>
		<key>summary</key>
		<string>现任微软公司全球资深副总裁兼微软亚太研发集团主席张亚勤昨日确认离职，关于很多科技及互联网职业人员而言，张亚勤离任微软或将加盟baidu…</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>http://www.wupinnews.com/uploads/allimg/140905/6-140Z5122JB57-lp.jpg</string>
		<key>title</key>
		<string>iPhone6美国未上市 国内最高售价被爆炒达2.8万</string>
		<key>summary</key>
		<string>苹果新一代产品发布会已经进入倒计时了。而与以往运营商销售苹果产品滞后的现象相比，此次苹果新品尚未发布，运营商就已经做足准备，开通预…</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>http://www.wupinnews.com/uploads/allimg/140816/0Z4344K9-0-lp.JPG</string>
		<key>title</key>
		<string>苹果会出什么智能穿戴设备 苹果iWatch智能</string>
		<key>summary</key>
		<string>如果传闻属实，苹果将会在9月9日发布新款iPhone，苹果会出什么智能穿戴设备，是智能手表，智能手环还是智能眼镜？盛传已久的苹果iwatch智能…</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>http://www.wupinnews.com/uploads/allimg/140816/0Z4344K9-0-lp.JPG</string>
		<key>title</key>
		<string>海鸥发布两款数码相机新品CM9和CK10</string>
		<key>summary</key>
		<string>海鸥发布两款数码相机新品 主打品质复古 两款相机主打复古和情怀，而在宣传上弱化了参数等重要数据。…</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>http://img6.cache.netease.com/lady/2013/11/12/2013111209111471ed4.jpg</string>
		<key>title</key>
		<string>苹果就电子书价格操纵案达成庭外和解</string>
		<key>summary</key>
		<string>据国外媒体报道， 苹果 就合谋操纵电子书价格指控与美国各州和消费者达成庭外和解，从而避免了庭审。 之前原告索赔8.4亿美元，庭审原定于7…</string>
	</dict>
</array>
</plist>
